<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Underground</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <select class="custom-select">
        <option value="Jenna Robey">Jenna Robey</option>
        <option value="Jacky">Jacky</option>
        <option value="CJ Holiday">CJ Holiday</option>
      </select>
    </form>
  </div>
</nav>
<div class="container base-container">
  <div class="row justify-content-around">
    <div class="card text-center stats-small--1 col-4">
      <div class="card-body">
        <span class="stats-small__label">Purchase New Ticket</span>
        <br>
        <i class="card-icon margin-top fa fa-ticket" aria-hidden="true"></i>
      </div>
    </div>
    <div class="card text-center stats-small--1 col-4">
      <div class="card-body">
        <span class="stats-small__label">View Analyitics</span>
        <br>
        <i class="card-icon margin-top fa fa-bar-chart" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="row justify-content-around margin-top">
    <div class="card text-center stats-small--1 col-4">
      <div class="card-body">
        <span class="stats-small__label">Create/Edit Events</span>
        <br>
        <i class="card-icon margin-top fa fa-calendar-o" aria-hidden="true"></i>
      </div>
    </div>
    <div class="card text-center stats-small--1 col-4">
      <div class="card-body">
        <span class="stats-small__label">Add Admin User</span>
        <br>
        <i class="card-icon margin-top fa fa-user" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
