<div class="row justify-content-around">
  <div v-on:click="goTo('/new-or-returning')" class="card text-center stats-small--1 col-4">
    <div class="card-body">
      <span class="stats-small__label">Purchase New Ticket</span>
      <br>
      <i class="card-icon margin-top fa fa-ticket" aria-hidden="true"></i>
    </div>
  </div>
  <div class="card text-center stats-small--1 col-4">
    <div class="card-body">
      <span class="stats-small__label">View Analyitics</span>
      <br>
      <i class="card-icon margin-top fa fa-bar-chart" aria-hidden="true"></i>
    </div>
  </div>
</div>
<div class="row justify-content-around margin-top">
  <div class="card text-center stats-small--1 col-4">
    <div class="card-body">
      <span class="stats-small__label">Create/Edit Events</span>
      <br>
      <i class="card-icon margin-top fa fa-calendar-o" aria-hidden="true"></i>
    </div>
  </div>
  <div class="card text-center stats-small--1 col-4">
    <div class="card-body">
      <span class="stats-small__label">Add Admin User</span>
      <br>
      <i class="card-icon margin-top fa fa-user" aria-hidden="true"></i>
    </div>
  </div>
</div>
