<form class="needs-validation big-form" method="get" action="/confirm">
  <div class="form-row">
    <div class="offset-md-3 col-md-6 mb-3">
      <label class="big-form-label" for="tickets">Ticket</label>
      <div class="input-group">
        <select id="tickets" class="big-form-element custom-select tickets" required>
          <option value="">Select a Ticket</option>
          <option value="1">Ticket Name ($9.16)</option>
          <option value="2">Ticket Name ($17.38)</option>
          <option value="2">Ticket Name ($17.38)</option>
        </select>
        <div class="invalid-feedback">Please select a ticket to purchase!</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="offset-md-3 col-md-6 mb-3">
      <label class="big-form-label" for="email">E-Mail</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text big-form-prepend" id="inputGroupPrepend">@</span>
        </div>
        <input type="email" class="form-control big-form-element" id="email" placeholder="E-mail" aria-describedby="inputGroupPrepend">
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="offset-md-3 col-md-6 mb-3">
      <label class="big-form-label" for="first-name">First Name</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text big-form-prepend" id="inputGroupPrepend"><i class="fa fa-user" aria-hidden="true"></i></span>
        </div>
        <input type="text" class="form-control big-form-element" id="first-name" placeholder="First Name" aria-describedby="inputGroupPrepend">
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="offset-md-3 col-md-6 mb-3">
      <label class="big-form-label" for="email">Last Name</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text big-form-prepend" id="inputGroupPrepend"><i class="fa fa-user" aria-hidden="true"></i></span>
        </div>
        <input type="text" class="form-control big-form-element" id="last-name" placeholder="Last Name" aria-describedby="inputGroupPrepend">
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="offset-md-3 col-md-6 mb-3">
      <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#confirmModal">Purchase</button>
    </div>
  </div>
</form>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">You're All Set!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Please give the device back and enjoy your time!
      </div>
      <div class="modal-footer">
        <button v-on:click="goTo('/')" type="button" class="btn btn-primary">Done</button>
      </div>
    </div>
  </div>
</div>